$c-white: white;
$c-black: black;

.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  position: relative;
  margin: auto;
  width: 100%;
  top: -1.5vh;
  height: 90vh;
  background: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  -webkit-box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20); 
  box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20);
  margin-bottom: 10vh;

  h1{
    font-size: 70px;
    z-index: 3;
    /*border: 1px solid black;*/
    animation: header_h 2s;
  }

  #header-img{
    position: absolute;
    z-index: -1;
    height: 90vh;
    top: 0;
    left: 0;

    img{
      animation: header-img 4s;
    }
  }

}
@keyframes header_h{
  0%{
    opacity:0;
    margin-left: -150%;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity:1;
    margin-left: 0px;
  }
}

@keyframes header-img{
  from{
    opacity: .5;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-width: 992px){
  header{
    height: 50vh;

    h1{
      font-size:20px; 
    }

    #header-img{
      height: 50vh;
    }
  }

  .ev table h4{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  .min-nav{
    margin: 10px 0!important;
  }
}
@media screen and (min-width: 720px){
  .w-shedule, .content-container{
    width: 70%; margin: auto; margin-bottom: 10vh;
  }

  .ev table{
    width: 97%;
    margin: auto;
  }
}

section{
  -webkit-box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20); 
  box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20);
  padding:10px;
  margin-bottom: 10vh;
}

.about_me, .skill-set, .my_goal{
  font-family: monospace, monospace;
  margin:20px;
  padding-top: 20px;
  opacity: .5;
}

.story_s{
  font-size: 30px;
  font-weight: bolder;
  padding:0;
  margin: 0;
}

/* section 2 */
%d-flex-al-center{
  display: flex;
  align-items: center;
}
.skill-progress{
  @extend %d-flex-al-center;
  display: flex;
  align-items: center;

  div{
    height: 3vh;
    border-radius: 30px;
  }

  .badge{
    @extend %d-flex-al-center;
    justify-content: center;
    height: 3vh;
    border-radius: 30px;
  }
}
.skill-set-li{
  margin: 5vh auto;
}

.langs{
  -webkit-box-shadow: 0px 15px 100px 11px rgba(0,0,0,0.10); 
  box-shadow: 0px 15px 100px 11px rgba(0,0,0,0.10);
  padding:10px;
  margin-bottom: 10vh;
}

/*TABLE*/
.ev {
  table{
    border-collapse: collapse;

    tr {
      th, td {
        text-align: center;
        padding: 8px;
        vertical-align: bottom;
      } 
    }
    
    tr:hover {
      background-color: #333!important;
      color: $c-white!important;
    }
    
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
      background-color: $c-white;
    }
    
    th {
      background-color: #337ab7;
      border-color: #2e6da4;
      color: $c-white;
    }
  }
}

.goal{
  width: 80%;
  margin: auto;
}
.goal ol li{
  margin: 20px;
}

footer{ 
  background: $c-black;
  color: $c-white;
  padding:10px;
  margin-bottom: 1vh;
}

/*other pages*/
.content-container{
  -webkit-box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20); 
  box-shadow: 0px 15px 35px 11px rgba(0,0,0,0.20);
  padding:10px;
  margin-bottom: 10vh;  
}

.min-nav{
  margin: 10px 15%;
  padding: 5px;
  @extend %d-flex-al-center;
}

